#leaf1 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 6s, opacity 6s linear;
  }
  
  #leaf2 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 6s, opacity 6s linear;
  }

  #leaf3 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 6s, opacity 6s linear;
  }

  #leaf4 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 6s, opacity 6s linear;
  }

  #leaf5 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 6s, opacity 6s linear;
  }

  #leaf6 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 5s linear;
  }

  #leaf7 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 5s linear;
  }

  #leaf8 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 5s linear;
  }

  #leaf9 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 5s linear;
  }

  #leaf10 {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 5s linear;
  }




#mac {
  height: 45px;
  width: 75px;
  top: 315px;
  position:absolute; 
  z-index:2;
  right: 275px;
  
}

#mac:hover {
  content: url('../images/gh.png');
  height: 65px;
  width: 65px;
  top: 300px;
  position:absolute; 
  z-index:2;
  right: 265px;
  
}

#git {
  height: 50px;
  width: 65px;
  top: 340px;
  position:absolute; 
  z-index:2;
  right: 270px;
  
}

#pc {
  height: 40px;
  width: 60x;
  top: 220px;
  position:absolute; 
  z-index:2;
  right: 500px;
  
}

#res {
  height: 30px;
  width: 50x;
  top: 275px;
  position:absolute; 
  z-index:2;
 left: 490px;
  
}

#nb {
  height: 350px;
  width: 750x;
  top: 260px;
  position:absolute; 
  z-index:2;
 left: 420px;
  
}

#nb:hover {
  content: url('../images/resume.png');
  height: 350px;
  width: 750x;
  top: 260px;
  position:absolute; 
  z-index:2;
 left: 420px;
  
}

#pen {
  height: 90px;
  width: 60x;
  top: 450px;
  position:absolute; 
  z-index:2;
 right: 330px;
  
}

#latte {
  height: 150px;
  width: 150x;
  top: 180px;
  position:absolute; 
  z-index:2;
  right: 303px;
  
}

#latte:hover {
  content: url('../images/link.png');
  height: 90px;
  width: 100x;
  top: 205px;
  position:absolute; 
  z-index:2;
  right: 330px;
  
}

#linked {

  top: 278px;
  position:absolute; 
  z-index:2;
  right: 410px;
  height: 60px;
  width: 80x;

}


#rose {
  height: 130px;
  width: 130x;
  top: 70px;
  position:absolute; 
  z-index:2;
  left: 100px;
  opacity: 2;
}

#rose:hover {
  content: url('../images/hang1.png');
  height: 140px;
  width: 140px;
  top: 65px;
  left: 95px;
}

#hg {
  height: 40px;
  width: 60x;
  top: 200px;
  position:absolute; 
  z-index:2;
  left: 90px;
  opacity: 2;
}


#me2 {
  height: 145px;
  width: 140x;
  top: 245px;
  position:absolute; 
  z-index:2;
  left: 100px;
  
}

#me2:hover {
  content: url('../images/triv1.png');
  height: 155px;
  width: 160px;
  top: 240px;
  left: 90px;
}

#triv {
  height: 40px;
  width: 45x;
  top: 390px;
  position:absolute; 
  z-index:2;
  left: 100px;
  
}


#palm {
  height: 130px;
  width: 130x;
  top: 440px;
  position:absolute; 
  z-index:2;
  left: 100px;
  
}

#palm:hover {
  content: url('../images/killow.png');
  height: 160px;
  width: 160px;
  top: 435px;
  left: 95px;
}

#name {
 
  top: 50px;
  position:absolute; 
  z-index:2;
 right:550px;
  
}

body, html {
  cursor: url("../images/cursor.png"), auto;
}



 
@media screen and (max-width: 980px) and (min-width: 769px) {

#leaf {

  height

}
  


}

 
 @media screen and (max-width: 768px) and (min-width: 641px) {
 
 





 }

 
  @media screen and (max-width: 640px) and (min-width: 441px) {
 
 
 
 
 
 
 
  }